# Astro Site Configuration
DEV_SERVER_URL=
PROD_SERVER_URL=

# Deployment settings
DEPLOY_REMOTE_HOST=deploy@your-server.com
DEPLOY_SSH_KEY_PATH=/path/to/ssh/key
DEPLOY_SITE_PATH=/var/www/synapticism

# Umami analytics (shared instance)
UMAMI_DOMAIN=
UMAMI_ID=
