/* Link styles; extracted here to avoid repetition in the link component */
.l-all {
	@apply transition-colors ease-linear;
	cursor: pointer;
	color: var(--l-color);
}
.l-all:hover {
	color: var(--l-hover);
}

.l-primary {
	--l-color: var(--color-primary-800);
	--l-hover: var(--color-primary-600);
}
.l-primary-bright {
	--l-color: var(--color-primary-600);
	--l-hover: var(--color-primary-400);
}
.l-highlight {
	--l-color: var(--color-highlight-700);
	--l-hover: var(--color-highlight-500);
}
.l-highlight-bright {
	--l-color: var(--color-highlight-500);
	--l-hover: var(--color-highlight-300);
}
.l-accent {
	--l-color: var(--color-accent-700);
	--l-hover: var(--color-accent-500);
}
.l-accent-bright {
	--l-color: var(--color-accent-500);
	--l-hover: var(--color-accent-300);
}
