top-button {
	translate: 0 150%;
	transition:
		translate 200ms ease-out,
		opacity 200ms ease-out;
}

top-button:not([inert]) {
	translate: 0 0;
}

top-button:not(:defined) {
	pointer-events: none;
	opacity: 0;
}
