@theme {
	--font-sans: var(--font-aleo), ui-sans-serif, system-ui;
	--font-serif: ui-serif, 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
	--font-mono:
		var(--font-geist-mono), ui-monospace, 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
		'Liberation Mono', 'Courier New', monospace;
}
